In [41]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

In [43]:
# Load the datasets
customers_df = pd.read_csv(r"C:\Users\Hp\Downloads\Customers.csv")  # Customer demographic data
transactions_df = pd.read_csv(r"C:\Users\Hp\Downloads\Transactions.csv")  # Transaction history

In [45]:
# Preprocessing the customer data
# Ensure that 'CustomerID' is present in the Customers dataframe
if 'CustomerID' not in customers_df.columns:
    raise ValueError("CustomerID column not found in the customer data.")

In [47]:
# Ensure 'CustomerID' exists in transactions_df and handle it
if 'CustomerID' not in transactions_df.columns:
    raise ValueError("CustomerID column not found in the transaction data.")

In [49]:

# Creating a pivot table for transaction history (CustomerID vs ProductID)
transaction_pivot = transactions_df.pivot_table(index='CustomerID', columns='ProductID', aggfunc='sum', fill_value=0)
transaction_pivot

           Price                                                         ...  \
ProductID   P001   P002 P003   P004 P005    P006 P007    P008 P009 P010  ...
CustomerID                                                               ...
C0001        0.0    0.0  0.0   0.00  0.0    0.00  0.0    0.00  0.0  0.0  ...
C0002        0.0    0.0  0.0  95.69  0.0    0.00  0.0    0.00  0.0  0.0  ...
C0003        0.0  346.3  0.0   0.00  0.0  121.32  0.0    0.00  0.0  0.0  ...
C0004        0.0    0.0  0.0   0.00  0.0    0.00  0.0  146.85  0.0  0.0  ...
C0005        0.0    0.0  0.0   0.00  0.0    0.00  0.0    0.00  0.0  0.0  ...
...          ...    ...  ...    ...  ...     ...  ...     ...  ...  ...  ...
C0196        0.0    0.0  0.0   0.00  0.0    0.00  0.0    0.00  0.0  0.0  ...
C0197        0.0    0.0  0.0   0.00  0.0    0.00  0.0    0.00  0.0  0.0  ...
C0198        0.0    0.0  0.0   0.00  0.0    0.00  0.0    0.00  0.0  0.0  ...
C0199        0.0    0.0  0.0   0.00  0.0    0.00  0.0  146.85  0.0  0.0  ...
C0200        0.0    0.0  0.0   0.00  0.0    0.00  0.0    0.00  0.0  0.0  ...

           TransactionID
ProductID           P091 P092 P093 P094    P095    P096    P097 P098 P099 P100
CustomerID
C0001                  0    0    0    0       0  T00085       0    0    0    0
C0002                  0    0    0    0  T00155       0       0    0    0    0
C0003                  0    0    0    0       0       0       0    0    0    0
C0004                  0    0    0    0       0       0  T00534    0    0    0
C0005                  0    0    0    0       0       0       0    0    0    0
...                  ...  ...  ...  ...     ...     ...     ...  ...  ...  ...
C0196                  0    0    0    0       0       0       0    0    0    0
C0197                  0    0    0    0       0       0       0    0    0    0
C0198                  0    0    0    0       0       0       0    0    0    0
C0199                  0    0    0    0       0       0       0    0    0    0
C0200                  0    0    0    0       0       0       0    0    0    0

[199 rows x 500 columns]

In [51]:
# Create a dictionary to store the top 3 similar customers for each customer
lookalike_dict = {}

In [53]:
# Prepare the output for Lookalike.csv
lookalike_data = []
for cust_id, similar_customers in lookalike_dict.items():
    for similar_cust_id, score in similar_customers:
        lookalike_data.append([cust_id, similar_cust_id, score])

In [55]:
lookalike_df = pd.DataFrame(lookalike_data, columns=['CustomerID', 'LookalikeCustomerID', 'SimilarityScore'])

In [57]:
lookalike_df

Empty DataFrame
Columns: [CustomerID, LookalikeCustomerID, SimilarityScore]
Index: []

In [59]:
# Save the results in Lookalike.csv
lookalike_df.to_csv('Lookalike.csv', index=False)